/.vscode
/Optim.d
/Optimization.d
/obj
Optim
Point.d
Optim
CursesOptim.d
.gitignore
MathFunc.d
GUI_Optim.d
.qmake.stash
*.o
Makefile.back
Optim.pro
doxygen
Optim.pro.user
moc_gui_optim.cpp
moc_predefs.h
ui_gui_optim.h
moc_settings.cpp
ui_settings.h
