/.vscode
/Optim.d
/Optimization.d
Optim
Point.d
Optim
CursesOptim.d
MathFunc.d
GUI_Optim.d
.qmake.stash
*.o
Makefile.back
doxygen
Optim.pro.user
moc_gui_optim.cpp
moc_predefs.h
ui_gui_optim.h
moc_settings.cpp
ui_settings.h
